[user]
	email = 375153450@qq.com
	name = nijisou
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	llg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=20
	ca = commit -aa
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	llga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=20 --all
[core]
	quotepath = false
[gui]
	encoding = utf-8
[i18n]
	commitEncoding = utf-8
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = sgdm $LOCAL $REMOTE
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = sgdm --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
